In [1]:
class EXAMPLE:
    a=10

    def __init__(self,p):
        self.p=p

    def meth(self):
        print(self.p)
obj1=EXAMPLE(4)
obj1.meth()
EXAMPLE.meth(obj1)

4
4

In [2]:
class EXAMPLE:
    a=10

    def __init__(self,p):
        self.p=p

    def meth(self):
        print(self.p)

obj1=EXAMPLE(1000)
print(obj1.a)

print(EXAMPLE.a)

10
10

In [3]:
class student:
    institute="pyspiders"
    location="basavangudi"

    def __init__(self,name,age,gender,mno,degree):
        self.name=name
        self.age=age
        self.gender=gender
        self.mno=mno
        self.degree=degree

    def details(self):
           print("...........Your details...........")
           print(f"Name: {self.name}")
           print(f"Age: {self.age}")
           print(f"Gender: {self.gender}")
           print(f"Mno: {self.mno}")
           print(f"Degree: {self.degree}")
           print("............Thank you..............")

s1=student('Lucky',20,"female",111,"CSE")
s2=student('Tharun',20,"male",222,"IT")
s3=student('Abdul',20,"male",333,"EEE")
s4=student('Nisha',21,"female",444,"BSC")
s5=student('Deepika',21,"female",555,"BCA")

s1.details()
s2.details()
s3.details()
s4.details()
s5.details()

...........Your details...........
Name: Lucky
Age: 20
Gender: female
Mno: 111
Degree: CSE
............Thank you..............
...........Your details...........
Name: Tharun
Age: 20
Gender: male
Mno: 222
Degree: IT
............Thank you..............
...........Your details...........
Name: Abdul
Age: 20
Gender: male
Mno: 333
Degree: EEE
............Thank you..............
...........Your details...........
Name: Nisha
Age: 21
Gender: female
Mno: 444
Degree: BSC
............Thank you..............
...........Your details...........
Name: Deepika
Age: 21
Gender: female
Mno: 555
Degree: BCA
............Thank you..............