### assignment-1

In [3]:
#1.
n=int(input("n: "))
val=1

for i in range(n):
    for j in range(n):
        if i>=j:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    print()
    val+=1 
    if val>9:
        val=1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
#2.
n=int(input("n: "))
val=n
if val>9:
    val=9

for i in range(n):
    for j in range(n):
        if i>=j:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    print()
    val-=1 
    if val<1:
        val=9

9
8 8
7 7 7
6 6 6 6
5 5 5 5 5
4 4 4 4 4 4
3 3 3 3 3 3 3
2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1
9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7 7 7 7 7

In [10]:
#3.
n=int(input("n: "))
val=n
if val>9:
    val=9

for i in range(n):
    for j in range(n):
        if i==j:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    print()
    val-=1 
    if val<1:
        val=9

9
  8
    7
      6
        5
          4
            3
              2
                1
                  9
                    8
                      7

In [9]:
#4.
n=int(input("n: "))
val=1

for i in range(n):
    for j in range(n):
        if i==j:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    print()
    val+=1

1
  2
    3
      4
        5

In [17]:
#5.
n=int(input("n: "))
val=ord('A')

for i in range(n):
    for j in range(n):
        if i==j:
            print(chr(val),end=" ")
        else:
            print(" ",end=" ")
    print()
    val+=1  
    if val>ord('Z'):
        val=ord('A')

A
  B
    C
      D
        E

In [24]:
#6.
n=int(input("n: "))
val=ord('Z')
if val>ord('Z'):
    val=ord('z')

for i in range(n):
    for j in range(n):
        if i==j:
            print(chr(val),end=" ")
        else:
            print(" ",end=" ")
    print()
    val-=1 
    if val<ord('A'):
        val=ord('Z')

Z
  Y
    X
      W
        V

In [29]:
#7.
n=int(input("n: "))
val=1

for i in range(n):
    for j in range(n):
        if i+j>=n-1:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    print()
    val+=1 
    if val>9:
        val=1

    1
  2 2
3 3 3

In [32]:
#8.
n=int(input("n: "))
val=n
if val>9:
    val=9

for i in range(n):
    for j in range(n):
        if i+j>=n-1:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    print()
    val-=1 
    if val<1:
        val=9

      4
    3 3
  2 2 2
1 1 1 1

In [59]:
#9.
n=int(input("n: "))
val=1

for i in range(n):
    for j in range(n):
        if i<=j:
            print(val,end=" ")
            val+=1
            if val>9:
                val=1
        else:
            print(" ",end=" ")
    
    print()
    val=1

1 2 3 4 5 6 7 8 9 1 2 3
  1 2 3 4 5 6 7 8 9 1 2
    1 2 3 4 5 6 7 8 9 1
      1 2 3 4 5 6 7 8 9
        1 2 3 4 5 6 7 8
          1 2 3 4 5 6 7
            1 2 3 4 5 6
              1 2 3 4 5
                1 2 3 4
                  1 2 3
                    1 2
                      1

In [63]:
#10.
n=int(input("n: "))
val=n
if val>9:
    val=9

for i in range(n):
    for j in range(n):
        if i<=j:
            print(val,end=" ")
        else:
            print(" ",end=" ")
    
    print()
    val-=1
    if val<1:
        val=9

9 9 9 9 9 9 9 9 9 9
  8 8 8 8 8 8 8 8 8
    7 7 7 7 7 7 7 7
      6 6 6 6 6 6 6
        5 5 5 5 5 5
          4 4 4 4 4
            3 3 3 3
              2 2 2
                1 1
                  9

In [67]:
#11.
n=int(input("n: "))
val=ord('A')

for i in range(n):
    for j in range(n):
        if i<=j:
            print(chr(val),end=" ")
            val+=1
            if val>ord('Z'):
                val=ord('A')
        else:
            print(" ",end=" ")
    
    print()
    val=ord('A')

A B C D
  A B C
    A B
      A

In [71]:
#12.
n=int(input("n: "))
val=ord('A')

for i in range(n):
    for j in range(n):
        if i>=j:
            print(chr(val),end=" ")
            val+=1
            if val>ord('Z'):
                val=ord('A')
        else:
            print(" ",end=" ")

    print()  
    val=ord('A')

A
A B
A B C

In [3]:
#!3.
n=int(input("n: "))
val=ord('A')+(n-1)
if val>ord('Z'):
    val=ord('Z')
  

for i in range(n):
    for j in range(n):
        if i<=j:
            print(chr(val),end=" ")
            val-=1
            if val<ord('A'):
                val=ord('Z')
        else:
            print(" ",end=" ")
    
    print()
    val=ord('A')+(n-1)
    if val>ord('Z'):
        val=ord('Z')

D C B A
  D C B
    D C
      D

In [17]:
#14.
n=int(input("n: "))
val=ord('A')+(n-1)
if val>ord('Z'):
    val=ord('Z')

for i in range(n):
    for j in range(n):
        if i>=j:
            print(chr(val),end=" ") 
            
        else:
            print(" ",end=" ")
    
    print()
    val-=1
    if val<ord('A'):
        val=ord('Z')

D
C C
B B B
A A A A

In [21]:
#15.
n=int(input("n: "))
val=ord('A')
if val>ord("Z"):
    val=ord('Z')

for i in range(n):
    if val>ord('Z'):
        val=ord('A')
    for j in range(n):
        if i+j==n-1:
            print(chr(val),end=" ")
            
        else:
            print(" ",end=" ")
    
    print()
    val+=1 
    if val<ord('A'):
        val=ord("Z")

        A
      B
    C
  D
E

In [25]:
#16.
n=int(input("n: "))
val=ord('A')

for i in range(n):
    for j in range(n):
        if i+j<=n-1:
            print(chr(val),end=" ")
            val+=1
            if val>ord('Z'):
                val=ord('A')
        else:
            print(" ",end=" ")

    print()  
    val=ord('A')

A B C D E
A B C D
A B C
A B
A

In [31]:
#17.
n=int(input("n: "))
val=ord('Z')

for i in range(n):
    if val>ord('z'):
        val=ord('A')
    for j in range(n):
        if i+j==n-1:
            print(chr(val),end=" ")
            
        else:
            print(" ",end=" ")

    print() 
    val-=1 
    if val<ord('A'):
        val=ord('Z')

        Z
      Y
    X
  W
V

In [3]:
#18.
n=int(input("n: "))
val=n
if val>9:
    val=9

for i in range(n):
    for j in range(n):
        if i+j==n-1:
            print((val),end=" ")
                
        else:
            print(" ",end=" ")

    print()  
    val-=1  
    if val<1:
        val=9

      4
    3
  2
1

In [2]:
#19.
n=int(input("n: "))
val=ord('A')+(n-1)
if val>ord('Z'):
    val=ord('Z')

for i in range(n):
    # if val>ord('Z'):
    #     val=ord('A')
    for j in range(n):
        if i+j==n-1:
            print(chr(val),end=" ")
            
        else:
            print(" ",end=" ")

    print()
    val-=1  
    if val<ord('A'):
        val=ord('Z')

        E
      D
    C
  B
A

In [55]:
#20.
n=int(input("n: "))
val=ord('A')

for i in range(n):    
    for j in range(n):
        if i+j>=n-1:
            print(chr(val),end=" ")
            val+=1
            if val>ord('Z'):
                val=ord('A')
        else:
            print(" ",end=" ")

    print()

      A
    B C
  D E F
G H I J